body {
    font-family: "Barlow Condensed", "Barlow", sans-serif;
}

@font-face {
    font-family: Consolas;
    src: url('../font/consolas.ttf');
}

.color-1 {
    color: #F5B800 !important;
}

.color-2 {
    color: #b4c8ffe6 !important;
}

.color-3 {
    color: #aabef0cc !important;
}

.color-4 {
    color: #dce8ffe6 !important;
}

.color-5 {
    color: #D7E4FFE0 !important;
}

.color-6 {
    color: #151C4A !important;
}

.color-7 {
    color: #22222280 !important;
}

.color-8 {
    color: #3C4AA8 !important;
}

.color-9 {
    color: #999999 !important;
}

.color-10 {
    color: #FFFFFF80 !important;
}

.color-11 {
    color: #FFCC00 !important;
}

.color-12 {
    color: #0D25A8 !important;
}

.color-13 {
    color: #494949 !important;
}

.color-14 {
    color: #4A4A4AB2 !important;
}

.color-15 {
    color: #737373 !important;
}

.color-16 {
    color: #262626 !important;
}

.w-fit {
    width: fit-content !important;
}

.bg-1 {
    background: #1835c840 !important;
}

.bg-2 {
    background: #0D25A8 !important;
}

.bg-3 {
    background: #FFE100 !important;
}

.bg-4 {
    background: #FFCC00 !important;
}

.bg-5 {
    background: #F8F8F8 !important;
}

.bg-6 {
    background: #1D1F23 !important;
}

.bg-7 {
    background: #312E8166 !important;
}

.bg-8 {
    background: #DDDDDD !important;
}

.bg-9 {
    background: #101636 !important;
}

.bg-10 {
    background: #FAFAFA !important;
}

.bg-11 {
    background: #f2f2f2 !important;
}

.bg-linear-2 {
    background: rgba(13, 37, 168, 0.30) !important;
}

.gap-30 {
    gap: 30px !important;
}

.font-barlow {
    font-family: "Barlow Condensed" !important;
}

.font-Barlow {
    font-family: Barlow;
}

.font-montserrat {
    font-family: "Montserrat", sans-serif !important;
}

.font-figtree {
    font-family: "Figtree", sans-serif !important;
}

.font-inter {
    font-family: "Inter", sans-serif !important;
}

.font-consolas {
    font-family: Consolas !important;
}

.fw-700 {
    font-weight: 700 !important;
}

.fw-600 {
    font-weight: 600 !important;
}

.fw-500 {
    font-weight: 500 !important;
}

.fw-400 {
    font-weight: 400 !important;
}

.ls-1 {
    letter-spacing: 1px !important;
}

.ls--1 {
    letter-spacing: -1.2px !important;
}

.ls-2 {
    letter-spacing: 2px !important;
}

.ls-3 {
    letter-spacing: 3px !important;
}

.ls-4 {
    letter-spacing: 4px !important;
}

.ls-5 {
    letter-spacing: 5px !important;
}

.ls-7 {
    letter-spacing: 7px !important;
}

.lh-normal {
    line-height: normal !important;
}

.border-radius-8 {
    border-radius: 8px !important;
}

.border-radius-16 {
    border-radius: 16px !important;
}

.border-radius-top-16 {
    border-radius: 16px 16px 0 0 !important;
}

.border-color-75 {
    border-color: rgba(0, 0, 0, 0.75) !important;
}

.seperator,
.h-2 {
    background: rgba(13, 37, 168, 0.30);
    height: 2px;
}

.box-shadow-1 {
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.10), 0 8px 10px -6px rgba(0, 0, 0, 0.10);
}

/* Main Container */
.main-bg {
    background-image: url("../assets/HeroSection.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.main-container {
    padding: 80px 10px;
}

.main-image-container {
    gap: 20px;
}

.main-image-container img {
    max-height: 85px;
    max-width: 250px;
}

.main-badge {
    border-radius: 2px;
    border: 0.8px solid rgba(24, 53, 200, 0.55);
    padding: 8px 16px;
    width: fit-content;
}

.main-badge p,
.secure-text,
.program-subtitle {
    font-size: 12px;
    line-height: 20px;
}

.main-head,
.programs-head-container h2,
.student-head-container h2,
.career-container h2,
.apply-head {
    font-size: 84px;
    line-height: 84px;
}

.main-head span {
    background: linear-gradient(90deg, #F5B800 0%, #FFE45C 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-subhead,
.form-header h2,
.find-btn,
.airline-right p,
.career-point li,
.quote-box,
.confused-list {
    font-size: 20px;
    line-height: 28px;
}

.main-para,
.footer-mediagarh,
.journey-btn,
.desc-text,
.btn-tag,
.arrow-card,
.program-title,
.btn-consult {
    font-size: 16px;
    line-height: 28px;
}

.list-item,
.form-header p,
.form-label,
.custom-input,
.student-head-container p,
.career-para,
.career-bottom-para,
.sub-text,
.program-list li,
.feature-desc {
    font-size: 14px;
    line-height: 21px;
}

.program-list li::marker {
    color: #FFCC00;
}

.form-card {
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    max-width: 500px;
}

.form-header,
.form-body {
    padding: 20px 30px;
}

.custom-input {
    border: 0.8px solid #E0E3ED;
    padding: 10.4px 14.4px;

}

.footer-contact,
.btn-apply,
.footer-copyright,
.course-para,
.programs-head-container p,
.btn-gold,
.slide-text,
.feature-title {
    font-size: 18px;
    line-height: 21.6px;
}

.find-btn {
    clip-path: polygon(0 0,
            calc(100% - 22px) 0,
            100% 50%,
            calc(100% - 22px) 100%,
            0 100%,
            22px 50%);
    padding: 18px 60px;
}

.btn-apply {
    padding: 14px 0;
}

/* Main Container */

/* Course  */
.course-container {
    max-width: 900px;
}

.course-container h2 {
    font-size: 72px;
    line-height: 72px;
}

.line,
.line-end,
.h-1 {
    height: 1px;
}

.line {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.40) 50%, rgba(255, 255, 255, 0.60) 100%);
    width: 300px;
}

.line-end {
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.40) 50%, rgba(255, 255, 255, 0.60) 100%);
    width: 300px;
}

.course-container h4,
.airline-head-container h2,
.student-head-container h5,
.program-tag {
    font-size: 48px
}

/* Course  */

/* Airline Recruiters */
.airline-badge,
.programs-badge {
    border-radius: 26843500px;
    border: 1px solid rgba(13, 37, 168, 0.10);
    background: #0d25a80d;
    padding: 4px 16px;
}

.airline-badge,
.programs-badge,
.feature-content p {
    font-size: 12px;
    line-height: 20px;
}

.airline-right h5,
.feature-content h2,
.main-heading {
    font-size: 28px;
    line-height: 29px;
}

/* Airline Recruiters */

/* Diploma Programs */
.diploma-span {
    width: 100px;
    height: 4px;
}

.w-100px {
    width: 100px !important;
}

/* Diploma Programs */

/* Our Student */
.feature-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    max-width: 1200px;
}

.feature-item {
    min-height: 380px;
    border: 0.1px solid rgba(255, 255, 255, 0.05);
}

.feature-item.bg-dark-gray {
    mix-blend-mode: overlay;
}

.feature-bg-img {
    max-height: 400px;
}

.feature-item:hover .feature-bg-img {
    transform: scale(1.05);
    opacity: 0.6;
}

/* Our Student */

/* Career */
.career-bg {
    background-image:
        linear-gradient(0deg, #0D25A8 18.34%, rgba(13, 37, 168, 0.20) 64.73%, rgba(13, 37, 168, 0.50) 100%),
        url("../assets/SECTION5.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.career-badge,
.btn-white {
    font-size: 24px;
    line-height: 30px;
}

.career-badge {
    background: rgba(255, 255, 255, 0.30);
}

.journey-btn {
    border-radius: 10997.164px;
    border: 1.1px solid rgba(255, 255, 255, 0.20);
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(22px);
    padding: 8px 40px;
}

.career-bottom-para {
    max-width: 600px;
}

.career-head,
.career-para {
    max-width: 500px;
}

/* Career */

.recruiter-grid {
    grid-template-columns: repeat(4, 1fr);
}

.recuriter-img img {
    aspect-ratio: 305/138;
    max-height: 120px !important;
}

.step-head {
    font-size: 64px;
    line-height: 60px;
}

.line-accent {
    border-left: 4px solid #FFCC00;
    font-size: 24px;
    line-height: 28px;
    padding-left: 10px;
}

/* Buttons */
.btn-tag {
    border-radius: 4.377px;
    border: 1.094px solid rgba(255, 204, 0, 0.30);
    background: rgba(255, 204, 0, 0.10);
    padding: 8px 16px;
    color: rgba(255, 255, 255, 0.80);

}

.btn-gold {
    border-radius: 0 24px 0 0;
    padding: 18px 36px;
}

.btn-white {
    padding: 20px;
}

.btn-white img {
    max-width: 24px;
    max-height: 24px;
}

.slanted-gallery {
    gap: 10px;
    padding-left: 20px;
}

.gallery-item {
    flex: 1;
    height: 550px;
    transform: skewX(10deg);
    box-shadow: 10px 0 30px rgba(0, 0, 0, 0.5);
}

.air-gallery-items img {
    transform: skewX(10deg) translateX(-17%);
}

.gallery-item img {
    width: 150%;
    transition: 0.5s ease;
}

.gallery-item:hover img {
    transform: scale(1.1);
}

.gallery-item.highlight,
.program-card.highlight {
    border-left: 6px solid #FFCC00;
}

.whyadua-container {
    padding: 40px 10px;
}

.adua-marquee-carousel .owl-stage {
    display: flex;
}

.adua-marquee-carousel .owl-item {
    flex-shrink: 0;
}

.icon-circle {
    width: 48px;
    height: 48px;
}

.slider-heading {
    font-size: 30px;
    line-height: 36px;
}

.h-6 {
    height: 6px !important;
}

.arrow-card {
    position: absolute;
    z-index: 2;
    padding: 20px 12px;
    top: 15%;
    max-width: 180px !important;
    width: 100%;
    transform: translateX(-12px);
}

.arrow-bg {
    width: 250px;
}

.arrow-container {
    height: 100px;
}

.quote-box {
    border-radius: 12px;
    border: 1px dashed rgba(255, 204, 0, 0.30);
    background: rgba(13, 37, 168, 0.05);
    padding: 20px;
    margin-top: 30px;
}

/* Section 2: Slider Styling */
.program-card {
    max-width: 1100px;
}

.card-img-block {
    max-height: 460px;
    aspect-ratio: 248/249;
    height: 100%;
}

.program-right:nth-child(odd) {
    border-right: 8px solid #FC0;
    margin-right: -20px;
}

/* Even Items */
.program-right:nth-child(even) {
    border-left: 8px solid #FC0;
    margin-left: -20px;
}

.program-right {
    background: #FFF;
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(6px);
    padding: 40px 50px;

    max-height: 600px;
    min-height: 500px;
}

.icon-confused {
    width: 8px;
    height: 8px;
    flex-shrink: 0;
}

.consultor-left {
    max-width: 500px;
}

.card-box {
    border: 1px solid #F5F5F5;
    background: rgba(13, 37, 168, 0.03);
    max-width: 600px;
    padding: 40px;
    padding: 38px 36px 32px 36px;
}

.main-heading {
    border-bottom: 0.8px solid #E5E5E5;
}

.feature-item-2 {
    gap: 18px;
    margin-bottom: 28px;
}

.step-circle {
    width: 42px;
    height: 42px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.10), 0 4px 6px -4px rgba(0, 0, 0, 0.10);
}

.feature-body {
    padding-top: 2px;
}

/* ── Buttons ── */
.btn-row {
    border-top: 0.8px solid #E5E5E5;
}

.btn-consult {
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.10), 0 8px 10px -6px rgba(0, 0, 0, 0.10);
    padding: 24px 30px;

}

/* divider between buttons */
.btn-divider {
    width: 2px;
    background: #1a2d8f;
    flex-shrink: 0;
}

/* Footer */
.footer-py {
    padding: 80px 10px 30px 10px;
}

.footer-head {
    font-size: 36px;
    line-height: 21px;
}

.footer-container {
    gap: 30px
}

/* Footer */